<app-header></app-header>

<section class="section">
  <div class="row mt-5">
    <div class="col-sm-12 col-lg-6 d-flex justify-content-center">
      <div class="content d-flex flex-column justify-content-center">
        <h1 class="fw-bold">Find all your</h1>
        <h2>Favorite</h2>
        <h1 class="fw-bold">Pokemon</h1>

        <p class="fw-bold mt-3">
          You can know the type of Pokemon, it's abilities and strength
        </p>

        <div class="content-buttons mt-5">
          <button
            class="btn-blue rounded-pill"
            (click)="onNavigateTo('/heroes-list')"
          >
            See Pokemons
          </button>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-lg-6 d-flex justify-content-center">
      <img
        class="pikatchu"
        src="../../../assets/images/37470-6-pikachu-transparent-background.png"
        alt="pikachu"
      />
    </div>
  </div>
</section>
